/* PRODUCT CHALLENGE */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
.product{
    border:4px solid black;
    width:825px;
    margin:50px auto;
}
.product-title{
    text-align: center;
    font-size: 22px;
    text-transform:uppercase;
    background-color: #f7f7f7;
    padding:15px;
}
/* PRODUCT INFORMATION */

.price-shipping strong{
    font-size: 22px;
    float:right:
}
.price-shipping p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color:#777;
    margin-bottom: 20px;
    float:right;
   
}
.more-info:link, .more-info:visited{
    color: black;
}
.more-info:hover,.more-info:active{
    text-decoration: none;

}
/* PRODUCT DETAILS */
.details-title{
   text-transform: uppercase;
   font-size: 16px;
}
.details-list{
    list-style: square;
    margin-left:20px;
}
.details-list li{
    margin-bottom: 10px;
}
.add-cart{
    background-color:#000;
    border:none;
    color:#fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding:15px;
    width:100%;
    border-top:4px solid black;
    margin-top: -7px;
}
.add-cart:hover{
    color:#000;
    background-color: #fff;
}
h2{  
    position: relative;
}
h2::before{
    content: "SALE";
    letter-spacing: 5px;
    background-color:#ff0000;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding:5px 10px;
    position: absolute;
    top: -20px;
    left: -40px;
}
.colors{
    margin-top: 30px;
    margin-bottom: 30px;
}
.black{ 
	background:#000000;
    color: #000000;
    border: 1px solid;
    width: 15px;
    height: 15px; 
    display: inline-block;
    margin-right: 5px;
} 
.blue{ 
	background: #00f;
    color:#00f;
    border: 1px solid;
    width: 15px;
    height: 15px; 
    display: inline-block;
    margin-right: 5px;
}
.red{ 
	background:#ff0000; 
    color:#ff0000;
    border: 1px solid;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
} 
.yellow{
    background: #FFFF00; 
    color:#FFFF00;
    border: 1px solid;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}
.green{ 
	background:#0f0; 
    color:#0f0;
    border: 1px solid;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
} 
.brown{ 
	background:#964B00; 
    color:#964B00;
    border: 1px solid;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
} 
.container{
    width:825px;
    margin: 0 auto;
}
.sec1{
    float:left;
}
.sec2{
    width:240px;
    float:left;
    margin-left: 40px;
    padding: 15px 15px;
}
.sec3{
    width:240px;
    float:right;
    margin-left:40px;
    padding: 15px 15px;
}


