*{
    /* border-top: 10px solid #1098ad; */
}
body{
    font-family: sans-serif;
    color:#444;
    border-top: 10px solid #1098ad;
}
h1,h2,h3{
    color:#1098ad;
}
h1{
    font-size: 28px;
    text-transform: uppercase;
    font-style: italic;
}
h2{
    font-size: 40px; 
}
h3{
    font-size: 30px;   
}
h4{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-size: 22px;   
    line-height:1.5;
}
li{
    font-size: 20px;
}
/* footer p{
    font-size: 16px;
} */
/* article header p{
    font-style: italic;
} */
#author{
    font-style: italic;
    font-size: 18px;
}
#copyright{
    font-size: 16px;
}
.related-author{
    font-size: 18px;
    font-weight: bold;
}
.related-post{
    list-style:none;
}
.main-header{
    background-color: #f7f7f7;
}
aside{
    background-color:#f7f7f7;
    border-top:5px solid #1098ad;
    border-bottom:5px solid #1098ad;
}

/* Styling Links */
a:link{
    color:#1098ad;
    text-decoration: none;
}
a:visited{
    color:#1098ad;
}
a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline dotted orangered;
}
a:active{
    background-color: black;
    font-style: italic;
}


/*LVHA*/

/* Resolving conflicts */
#copyright{
    color:red;
}
.copyright{
    color:blue;
}
.text{
    color:yellow;
}
footer p{
    /* color:green !important; */
}

/*Pseudo elements*/
/* .first-li{
    font-weight: bold;
} */
li:first-child{
    font-weight: bold;
}
li:last-child{
    font-style: italic;
}
li:nth-child(odd){
    color:red;
}

article h2:first-letter {
    color: #ff0000;
    font-size: xx-large;
}
aside h4:first-letter{
    color:blue;
    font-size: xx-large;
}
h1::before {
    content: "@";
}
h1::after {
    content: "#";
}
::marker { 
    color: red;
    font-size: 20px;
}
