h1{
    color:blue;
}
/* .first-li{
    font-weight: bold;
} */
li:first-child{
    font-weight: bold;
}
li:last-child{
    font-style: italic;
}
li:nth-child(odd){
    color:red;
}

article h2:first-letter {
    color: #ff0000;
    font-size: xx-large;
}
aside h4:first-letter{
    color:blue;
    font-size: xx-large;
}
h1::before {
    content: "@";
}
h1::after {
    content: "#";
}
::marker { 
    color: red;
    font-size: 20px;
}
